In [106]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import statistics
import math
from scipy.stats import sem
from sklearn.linear_model import LinearRegression

In [189]:
data = pd.read_csv("UK-HPI-full-file-2021-04.csv")

In [190]:
yorkshire = data[data["RegionName"]=="Yorkshire and The Humber"]
yorkshire_copy = yorkshire.copy()

In [191]:
yorkshire.head(2)

,Date,RegionName,AreaCode,AveragePrice,Index,IndexSA,1m%Change,12m%Change,AveragePriceSA,SalesVolume,...,NewPrice,NewIndex,New1m%Change,New12m%Change,NewSalesVolume,OldPrice,OldIndex,Old1m%Change,Old12m%Change,OldSalesVolume
132720,01/04/1968,Yorkshire and The Humber,E12000003,2712.015577,1.991658,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132721,01/05/1968,Yorkshire and The Humber,E12000003,2712.015577,1.991658,NaN,0.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [192]:
yorkshire_copy.fillna(method='bfill', inplace=True)
yorkshire_copy.head(2)

,Date,RegionName,AreaCode,AveragePrice,Index,IndexSA,1m%Change,12m%Change,AveragePriceSA,SalesVolume,...,NewPrice,NewIndex,New1m%Change,New12m%Change,NewSalesVolume,OldPrice,OldIndex,Old1m%Change,Old12m%Change,OldSalesVolume
132720,01/04/1968,Yorkshire and The Humber,E12000003,2712.015577,1.991658,32.91052,0.0,5.586592,44813.83391,4489.0,...,55307.77007,33.306473,0.56757,1.071304,494.0,44127.76873,32.873378,-0.803625,-3.64308,3995.0
132721,01/05/1968,Yorkshire and The Humber,E12000003,2712.015577,1.991658,32.91052,0.0,5.586592,44813.83391,4489.0,...,55307.77007,33.306473,0.56757,1.071304,494.0,44127.76873,32.873378,-0.803625,-3.64308,3995.0

## Measures of Central Tendency

In [193]:
def calc_mean(df):
    sum_of = sum(df)
    len_of = len(df)
    mean = round(sum_of / len_of,2)
    return mean

*Calculate sample mean*

In [194]:
print("The sample mean is £{mean}".format(mean = calc_mean(yorkshire_copy['AveragePrice'])))

The sample mean is £65833.91

*Calculate sample median*

In [195]:
print("The sample median is £{median}".format(median=round(yorkshire_copy['AveragePrice'].median(),2)))

The sample median is £46681.67

*A mean house price in Yorkshire is £65,833 and the median price is £46,681, but what is the standard error, i.e., how far from the population mean does the sample mean stray?*

In [196]:
print("The population mean is £{mean}".format(mean = calc_mean(data['AveragePrice'])))

The population mean is £162712.48

*We can now calculate the standard error. Standard error is calculated as the population standard deviation divided by the square root of the sample size. Therefore...*

## Calculate Standard Error

In [150]:
# df_pop = population dataframe, df_sam = sample dataframe

def standard_error(df_pop, df_sam):
    '''Standard error function: 
    df_pop is the population data (dataframe)
    df_sam is the sample data (dataframe)
    '''
    pop_stdev = np.std(df_pop)
    sam_len = len(df_sam)
    return round(pop_stdev / math.sqrt(sam_len),2)

In [234]:
pop_sd=round(np.std(data['AveragePrice']))
sam_size=len(yorkshire_copy['AveragePrice'])
pop_mean = calc_mean(data['AveragePrice'])
sam_mean = calc_mean(yorkshire_copy['AveragePrice'])

print("Standard Deviations")
print("-------------------\n")
print("Population data standard deviation: {pop_sd}".format(pop_sd=pop_sd))
print("Sameple data standard deviation: {sam_data}\n".format(sam_data=round(np.std(yorkshire_copy['AveragePrice']))))

print("Sizes")
print("-----\n")
print("The size of the population is: {pop_size}".format(pop_size=len(data['AveragePrice'])))
print("The size of the sample is: {sam_size}\n".format(sam_size=sam_size))

print("Mean values")
print("-----------\n")
print("The population mean is: £{pop_mean}".format(pop_mean=pop_mean))
print("The sample mean is: £{sam_mean}\n".format(sam_mean=sam_mean))

print("Conclusion")
print("----------\n")

print("Standard error, calculated as {one} divided by the square root of {two} ({three}), is {four}.\n".format(one=pop_sd,two=sam_size,three=round(np.sqrt(sam_size),2),four=standard_error(data['AveragePrice'],yorkshire_copy['AveragePrice'])))
print("Therefore, The mean of 68% of samples with {one} items is expected to fall between £{two} and £{three}".format(one=sam_size,two=(round(pop_mean-standard_error(data['AveragePrice'],yorkshire_copy['AveragePrice']),2)),three=(round(pop_mean+standard_error(data['AveragePrice'],yorkshire_copy['AveragePrice']),2))))

Standard Deviations
-------------------

Population data standard deviation: 108801
Sameple data standard deviation: 56374

Sizes
-----

The size of the population is: 133357
The size of the sample is: 637

Mean values
-----------

The population mean is: £162712.48
The sample mean is: £65833.91

Conclusion
----------

Standard error, calculated as 108801 divided by the square root of 637 (25.24), is 4310.86.

Therefore, The mean of 68% of samples with 637 items is expected to fall between £158401.62 and £167023.34

*68% of values is +/- one standard deviation from the population mean*